<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element" (click)="openCourse(element.code)"> {{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code</th>
    <td mat-cell *matCellDef="let element" (click)="openCourse(element.code)"> {{ element.code }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category</th>
    <td mat-cell *matCellDef="let element" (click)="openCourse(element.code)"> {{ element.category }}</td>
  </ng-container>

  <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef> Credit</th>
    <td mat-cell *matCellDef="let element" (click)="openCourse(element.code)"> {{ element.credit }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description</th>
    <td mat-cell *matCellDef="let element" (click)="openCourse(element.code)"> {{ element.description }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator
               (page)="handlePageEvent($event)"
               [pageIndex]="this.pageEvent.pageIndex"
               [length]="this.pageEvent.length"
               [pageSize]="this.pageEvent.pageSize"
               [disabled]="false"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
               [hidePageSize]="hidePageSize"
               aria-label="Select page">

</mat-paginator>

