<div class="component-container">

  <mat-card>
    <mat-card-title>
      <h1 class="title">{{ course?.name }} <span *ngIf="course?.code">({{ course?.code }})</span></h1>
    </mat-card-title>
    <mat-card-subtitle class="sub-title">{{ course?.description }}</mat-card-subtitle>
    <mat-card-content class="content">
      <div class="prop"><span class="label">Category</span><span class="value">{{ course?.category }}</span></div>
      <div class="prop"><span class="label">Credit</span><span class="value">{{ course?.credit }}</span></div>
      <div class="prop">
        <span class="label">Start Date</span><span class="value">{{ course?.startDate | date }}</span>
      </div>
      <div class="prop"><span class="label">End Date</span><span class="value">{{ course?.endDate | date }}</span></div>
      <div class="prop"><span class="label">Description</span><span class="value">{{ course?.description }}</span></div>
      <div class="prop">
        <span class="label">Instance Description</span><span class="value">{{ course?.instanceDescription }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <div class="lecture-lab-container">
      <div class="lectures">
        <h2>Lectures</h2>
        <div>
          <div *ngFor="let lecture of course?.lectures">
            <h4>{{ lecture.code }}</h4>
            <p>{{ lecture.description }}</p>
          </div>
        </div>
      </div>
      <div class="labs">
        <h2>Labs</h2>
        <div>
          <div *ngFor="let lecture of course?.labs">
            <h4>{{ lecture.code }}</h4>
            <p>{{ lecture.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div class="requirements-container">
      <h2>Requirements</h2>
      <div class="grading">
        <h4>Exams</h4>
        <table>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Max point</th>
            <th>Min point</th>
          </tr>
          <tr>
            <td>1. zh</td>
            <td>written</td>
            <td>2023. 10. 28.</td>
            <td>100</td>
            <td>25</td>
          </tr>
          <tr>
            <td>2. zh</td>
            <td>written</td>
            <td>2023. 12. 08.</td>
            <td>100</td>
            <td>25</td>
          </tr>
          <tr>
            <td>Exam</td>
            <td>written</td>
            <td>2023. 12. 18.</td>
            <td>20</td>
            <td>0</td>
          </tr>
        </table>
      </div>
      <div class="grading">
        <h4>Grading</h4>
        <table>
          <tr>
            <td>0</td> -
            <td>{{points[0] - 1}}</td> :
            <td>1</td>
          </tr>
          <tr>
            <td>{{points[0]}}</td> -
            <td>{{points[1] - 1}}</td> :
            <td>2</td>
          </tr>
          <tr>
            <td>{{points[1]}}</td> -
            <td>{{points[2] - 1}}</td> :
            <td>3</td>
          </tr>
          <tr>
            <td>{{points[2]}}</td> -
            <td>{{points[3] - 1}}</td> :
            <td>4</td>
          </tr>
          <tr>
            <td>{{points[3]}}</td> -
            <td>{{points[4]}}</td> :
            <td>5</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card>

</div>
